################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/quicksort/quicksort/quicksort/obj/Release/net6.0
